.logIn__wrapper
  .logIn__header
    = render "shared/users/header"
  
  .logIn__main
  .login-panel
    .login-no-account
      %p アカウントをお持ちでない方はこちら
      = link_to signup_index_path do 
        新規会員登録
    .login-form-inner
      %button#facebook-login.btn-default.btn-sns.btn-sns-facebook
        = fa_icon "facebook-square", class: "fontawesome_icon"
        = link_to "Facebookでログイン", user_facebook_omniauth_authorize_path, method: :post, class: "facebook_login"
      %button#google-login.btn-default.btn-sns.btn-sns-google
        = image_tag 'google_icon.png',class: "google"
        = link_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path, method: :post, class: "google_login"
    .login-form-inner
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        = f.email_field :email, autofocse: true, placeholder: "メールアドレス", autocomplete: "email", class: "login-input-text input-default"
        = f.password_field :password, placeholder: "パスワード", autocomplete: "current-password", class: "login-input-text input-default"
        = f.submit "ログイン", class: "login-submit btn-default btn-red"
        %p.password__link 
          = link_to "#" do 
            パスワードをお忘れの方
  .logIn__footer
    = render "shared/users/footers"