.contents
  .contents__image
    = image_tag "index_keyvisual.png", size: "1020x390"
  .contents__category
    %h2 人気のカテゴリー
    %a.contents__list{ href: 'http://google.co.jp' }
      レディース
    %a.contents__list{ href: 'http://google.co.jp' }
      メンズ
    %a.contents__list{ href: 'http://google.co.jp' }
      家電・スマホ・カメラ
    %a.contents__list{ href: 'http://google.co.jp' }
      おもちゃ・ホビー・グッズ
  .contents__main
    .contents__main__top
      %h3 レディース新着アイテム
      %a.contents__list{ href: 'http://google.co.jp' }
        もっと見る
    .contents--product
      %ul.product__images
        %li.product__image
          = link_to "#", target: "_blank" do
            = image_tag "水.jpg", size: "188x252"
          %figure.explanation
            %figcaption.photo__contents
              %span マフラー
              .pricetag
                %span.price{"aria-label" => "Price"}
                  ¥
                  500
    .contents__main__top
      %h3 メンス新着アイテム
      %a.contents__list{ href: 'http://google.co.jp' }
        もっと見る
    .contents--product
      %ul.product__images
        %li.product__image
          = link_to "#", target: "_blank" do
            = image_tag "水.jpg", size: "188x252"
          %figure.explanation
            %figcaption.photo__contents
              %span マフラー
              .pricetag
                %span.price{"aria-label" => "Price"}
                  ¥
                  500
    .contents__main__top
      %h3 家電・スマホ・カメラ新着アイテム
      %a.contents__list{ href: 'http://google.co.jp' }
        もっと見る
    .contents--product
      %ul.product__images
        %li.product__image
          = link_to "#", target: "_blank" do
            = image_tag "水.jpg", size: "188x252"
          %figure.explanation
            %figcaption.photo__contents
              %span マフラー
              .pricetag
                %span.price{"aria-label" => "Price"}
                  ¥
                  500
    .contents__main__top
      %h3 おもちゃ・ホビー・グッズ新着アイテム
      %a.contents__list{ href: 'http://google.co.jp' }
        もっと見る
    .contents--product
      %ul.product__images
        %li.product__image
          = link_to "#", target: "_blank" do
            = image_tag "水.jpg", size: "188x252"
          %figure.explanation
            %figcaption.photo__contents
              %span マフラー
              .pricetag
                %span.price{"aria-label" => "Price"}
                  ¥
                  500
  .contents__category__center
    %h2 人気のブランド
    %a.contents__list{ href: 'http://google.co.jp' }
      シャネル
    %a.contents__list{ href: 'http://google.co.jp' }
      ルイヴィトン
    %a.contents__list{ href: 'http://google.co.jp' }
      シュプリーム
    %a.contents__list{ href: 'http://google.co.jp' }
      ナイキ
  .contents__main
    .contents__main__top
      %h3 シャネル新着アイテム
      %a.contents__list{ href: 'http://google.co.jp' }
        もっと見る
    .contents--product
      %ul.product__images
        %li.product__image
          = link_to "#", target: "_blank" do
            = image_tag "水.jpg", size: "188x252"
          %figure.explanation
            %figcaption.photo__contents
              %span マフラー
              .pricetag
                %span.price{"aria-label" => "Price"}
                  ¥
                  500
    .contents__main__top
      %h3 ルイヴィトン新着アイテム
      %a.contents__list{ href: 'http://google.co.jp' }
        もっと見る
    .contents--product
      %ul.product__images
        %li.product__image
          = link_to "#", target: "_blank" do
            = image_tag "水.jpg", size: "188x252"
          %figure.explanation
            %figcaption.photo__contents
              %span マフラー
              .pricetag
                %span.price{"aria-label" => "Price"}
                  ¥
                  500
    .contents__main__top
      %h3 シュプリーム新着アイテム
      %a.contents__list{ href: 'http://google.co.jp' }
        もっと見る
    .contents--product
      %ul.product__images
        %li.product__image
          = link_to "#", target: "_blank" do
            = image_tag "水.jpg", size: "188x252"
          %figure.explanation
            %figcaption.photo__contents
              %span マフラー
              .pricetag
                %span.price{"aria-label" => "Price"}
                  ¥
                  500
    .contents__main__top
      %h3 ナイキ新着アイテム
      %a.contents__list{ href: 'http://google.co.jp' }
        もっと見る
    .contents--product
      %ul.product__images
        %li.product__image
          = link_to "#", target: "_blank" do
            = image_tag "水.jpg", size: "188x252"
          %figure.explanation
            %figcaption.photo__contents
              %span マフラー
              .pricetag
                %span.price{"aria-label" => "Price"}
                  ¥
                  500
-# イギリスのところ
%aside.contents__bottom__image
  .contents__bottom__image__detail
    .contents__bottom__image__left
      %p.contents__bottom__left__text
        スマホで簡単フリマアプリ
        %p.contents__bottom__left__texts
          今すぐ無料ダウンロード！
      .contents__bottom__icon
        = image_tag "logo_white.svg", size: "68x68"
        .contents__bottom__app
          = link_to "#", target: "_blank" do
            = image_tag "水.jpg", size: "144x40"
        .contents__bottom__google
          = link_to "#", target: "_blank" do
            = image_tag "水.jpg", size: "144x40"
    .contents__bottom__image__right
      = image_tag "スマホ.jpg", size: "300x260"