%section.item__show-container
  %h1.item__name
    = @item.products
  .item__content
    .buy__photo
      .photo__area
        .photo__area__upper
          .photo__stage
            .photo__item.active
              .photo__item__inner
              -if @item.images.attached?
                - @item.images.each do |image|  
                  =image_tag image,  class: "photo__item__inner"    
        .photo__nav.disabled    
        .photo__dots
          .photo__dot.active
            .photo__dot__inner
              -if @item.images.attached?
                - @item.images.each do |image|  
                  =image_tag image, class: "photo__dot__inner"
       
    .item__table
      %table
        %tr
          %th 出品者
          %td
            =link_to @item.user.nickname, users_show_path, class: "table__link"
            .item__user__face 
              .item__user__face__icon
                %i.icon__laugh
                  = fa_icon "smile-o", class: "icon__laugh"
                %span 18
              .item__user__face__icon
                %i.icon__nomal
                  = fa_icon "meh-o", class: "icon__nomal"
                %span 0
              .item__user__face__icon
                %i.icon__sad
                  = fa_icon "frown-o", class: "icon__sad"
                %span 0
        %tr
          %th カテゴリー
          %td
            =link_to "レディース" , "#" , class: "table__link"
            =link_to "トップス" , "#", class: "table__link"
            =link_to "ニット/セーター" , "#", class: "table__link"
        %tr
          %th ブランド
          %td 
            =link_to "ノーリーズソフィ", "#",class: "table__link"
        %tr
          %th 商品のサイズ
          %td 
            = @item.size
        %tr
          %th 商品の状態
          %td 
            = @item.condition
        %tr
          %th 配送料の負担
          %td 
            = @item.postage
        %tr
          %th 配送の方法
          %td 
            = @item.shipping_method
        %tr
          %th 配送元地域
          %td 
            = @item.shipping_origin
        %tr
          %th 発送日の目安
          %td 
            = @item.shipping_date
  .item__price
    .item__price__bold 
      ¥
      = @item.price.to_s(:delimited, delimiter: ',')
      %span.item__fee (税込)
      %span.item__total 送料込み
  - if user_signed_in? && current_user.id == @item.user.id
    .item__change__box
      =link_to "商品の編集", "#", class: "btn__default btn__red "
      %p.text__center or
      %form
        %input{type: "hidden"}
        %button.btn__default.btn__gray{type: "submit"} 出品を停止する   
      = link_to 'この商品を削除する', item_path(@item.id), class:"btn__default btn__gray", method: :delete
  -else
    =link_to "購入画面に進む", buys_index_path, class: "item__btn"
    %p.error__message この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
  - if user_signed_in? && current_user.id != @item.user.id 
    .item__explanation
      %p.item__explanation__inner 
      = @item.description_of_item
    .item__btn__content
      .item__btn__left
        =link_to "いいね！", "#", class: "item__btn__like"
        =link_to "不適切な商品の報告", "#", class: "item__btn__like" 
      .item__btn__right
        =link_to "あんぜん・あんしんへの取り組み", "#", class: "item__btn__right"