.user__profile
  %section.user__items
    %h2.user__items__head
      =link_to "kogumiさんのその他の出品", "#", class: "user__items__head"
    .user__items__content
      %section.items__content
        =link_to "", "#", class: "items__content"
        %figure.items__photo
          = image_tag "cloth.jpg" ,alt: "服の画像" , class: "items__photo"
        .items__text
          %h3.items__name 
          ノーリーズ  トップス  グレー  水玉
          .items__num
            .items__price ¥1,600
            .items__heart__icon
              %i.icon__like
      %section.items__content
        =link_to "", "#", class: "items__content"
        %figure.items__photo
          = image_tag "cloth.jpg" ,alt: "服の画像" , class: "items__photo"
        .items__text
          %h3.items__name 
          ノーリーズ  トップス  グレー  水玉
          .items__num
            .items__price ¥1,600
            .items__heart__icon
              %i.icon__like
      %section.items__content
        =link_to "", "#", class: "items__content"
        %figure.items__photo
          = image_tag "cloth.jpg" ,alt: "服の画像" , class: "items__photo"
        .items__text
          %h3.items__name 
          ノーリーズ  トップス  グレー  水玉
          .items__num
            .items__price ¥1,600
            .items__heart__icon
              %i.icon__like
      %section.items__content
        =link_to "", "#", class: "items__content"
        %figure.items__photo
          = image_tag "cloth.jpg" ,alt: "服の画像" , class: "items__photo"
        .items__text
          %h3.items__name 
          ノーリーズ  トップス  グレー  水玉
          .items__num
            .items__price ¥1,600
            .items__heart__icon
              %i.icon__like
      %section.items__content
        =link_to "", "#", class: "items__content"
        %figure.items__photo
          = image_tag "cloth.jpg" ,alt: "服の画像" , class: "items__photo"
        .items__text
          %h3.items__name 
          ノーリーズ  トップス  グレー  水玉
          .items__num
            .items__price ¥1,600
            .items__heart__icon
              %i.icon__like
      %section.items__content
        =link_to "", "#", class: "items__content"
        %figure.items__photo
          = image_tag "cloth.jpg" ,alt: "服の画像" , class: "items__photo"
        .items__text
          %h3.items__name 
          ノーリーズ  トップス  グレー  水玉
          .items__num
            .items__price ¥1,600
            .items__heart__icon
              %i.icon__like
  %section.user__items
    %h2.user__items__head
      =link_to "ノーリーズソフィのニット/セーターその他の商品", "#", class: "user__items__head"
    .user__items__content
      %section.items__content
        =link_to "", "#", class: "items__content"
        %figure.items__photo
          = image_tag "cloth.jpg" ,alt: "服の画像" , class: "items__photo"
        .items__text
          %h3.items__name 
          ノーリーズ  トップス  グレー  水玉
          .items__num
            .items__price ¥1,600
            .items__heart__icon
              %i.icon__like
      %section.items__content
        =link_to "", "#", class: "items__content"
        %figure.items__photo
          = image_tag "cloth.jpg" ,alt: "服の画像" , class: "items__photo"
        .items__text
          %h3.items__name 
          ノーリーズ  トップス  グレー  水玉
          .items__num
            .items__price ¥1,600
            .items__heart__icon
              %i.icon__like
      %section.items__content
        =link_to "", "#", class: "items__content"
        %figure.items__photo
          = image_tag "cloth.jpg" ,alt: "服の画像" , class: "items__photo"
        .items__text
          %h3.items__name 
          ノーリーズ  トップス  グレー  水玉
          .items__num
            .items__price ¥1,600
            .items__heart__icon
              %i.icon__like
      %section.items__content
        =link_to "", "#", class: "items__content"
        %figure.items__photo
          = image_tag "cloth.jpg" ,alt: "服の画像" , class: "items__photo"
        .items__text
          %h3.items__name 
          ノーリーズ  トップス  グレー  水玉
          .items__num
            .items__price ¥1,600
            .items__heart__icon
              %i.icon__like
      %section.items__content
        =link_to "", "#", class: "items__content"
        %figure.items__photo
          = image_tag "cloth.jpg" ,alt: "服の画像" , class: "items__photo"
        .items__text
          %h3.items__name 
          ノーリーズ  トップス  グレー  水玉
          .items__num
            .items__price ¥1,600
            .items__heart__icon
              %i.icon__like
      %section.items__content
        =link_to "", "#", class: "items__content"
        %figure.items__photo
          = image_tag "cloth.jpg" ,alt: "服の画像" , class: "items__photo"
        .items__text
          %h3.items__name 
          ノーリーズ  トップス  グレー  水玉
          .items__num
            .items__price ¥1,600
            .items__heart__icon
              %i.icon__like            