.mercariPraivacys__logo
  %footer.single-footer
  %nav
    %ul.clearfix
      %li
        = link_to "#" do
          プライバシーポリシー
      %li
        = link_to "#" do 
          メルカリ利用規約
      %li
        = link_to "#" do 
          特定商取引に関する表記
  %a.single-footer-logo
    = link_to "#", target: "_blank" do
      = image_tag "mercari_footer_logo"
      %p
      %small © Mercari, Inc.